

body{
    background:black;
    margin: auto;
}
header{
    font-size:60px;
    background-image: url(../images/angel-jimenez.jpg);
    height: 550px;
    background-size: cover;
    margin: 0;
    
}


main{
    width: 1024px;
    margin:  auto;
    background-color: #fff; ;
}

.guitarra{
    height: 450px;
    background: url(../images/john-raptis.png);
    background-size: cover;
    text-align: justify;
    padding: 100px 40px 10px 700px;
    color: #fff;
    
}

h1{ 
    color: #fff;
    text-align: center;
    padding: 200px 0 0 0;
    margin: 0;
}

h2{ 
    color: rgb(233, 54, 149);
}


.img1{
    margin-right: 300px;
    float: right;
    width: 80px;
}



.textos1{
    width: 40%;
    float: left;
    padding: 0 0 0 70px;
    background-size: cover;
}

.clear{
    clear: both;
}

img{
    width: 300px;
}

.imagen2{
    margin-right: 400px;
    float: left;
    width: 80px;
    padding: 0 0 0 50px;
}

.texto2{
    width: 40%;
    float: right;
    padding: 0 50px 0 0;
    background-size: cover;
    text-align: justify;
}




.tabla {
    padding: 0px 0px 50px 150px;
    background-color:rgb(238, 90, 90);
}

tr td {
    padding: 20px;
    color: #ffffff;
}

hr{ 
    width: 850px;
}
.boton{
    border-radius: 25px;
    background-color:rgb(238, 90, 90);
    width: 45%;
    color: white;
}
.bot{
    font-size: 14px;
}
footer{ 
    color: white;
    width: 100%;
}
.f{
    float: right;
    text-align: right;
    margin: 0 70px 0 50px; 
}
.t{
    color: white;
}
.footer1{
    float: left;
    text-align: right;
    margin: 0 70px 0 20px; 
}


@media screen and (max-width:1200px){
   main{
       width: 100%;
   }
   
    body {
        margin: 0;
        padding:0;
    }

    .bloque{
        display: flex;
        flex-direction: row;
        align-items:center;
        justify-content: space-around;
    }

    .texto2{
        display: flex;
        flex-direction: column;
        align-items:flex-start;        
    }

    hr{
        width: 100%;
    }
}

@media screen and (max-width:992px){
    .imagen2{
        margin-right: 0;
    }    
    .guitarra{
        padding: 100px 40px 10px 400px;
    }
}

@media screen and (max-width:768px){

    p{
        font-size: 20px;
    }
}

@media screen and (max-width:601px){
  
    header{
        width: 100%;
        height: 100%;
    }
    h1{
        padding: 120px 20px 100px 90px;
    }
    
    .bloque{
        display: flex;
        flex-direction: column;
        align-items:center;
        
    }

    .textos1{
        display: flex;
        flex-direction: column;
        width: 70%;
        padding: 0 0 0 100px;
    }
    .texto2{
        width: 70%;
        padding: 0 80px 0 0;
    }
    img{
        width: 370px;
        padding: 0;
    }
    .img1{
        padding: 0 115px 0 100px;
        
    }

    .imagen2{
        padding: 0 0 0 100px;
        
        
    }
    p{
        font-size: 25px;
        margin: 5px 0 0 0;
        width: 100%;
    }
    h2{
        font-size: 35px;
        margin: 7px 0 10px 0;
        
    }

    .boton{
        display: flex;
       justify-content: center;
       margin: 15px 0 0 66px;
        width: 60%;
        height: 50px;
    }

    .guitarra{
        height: 390px;
        padding: 30px 120px 10px 100px;

    }
    .bot{
        font-size: 17px;
    }
    .tabla{
        right: 300px;
        width: 90;
        padding:0 5px 0 10px;
        
    }
    footer{
        width: 70%;
        margin: 0 0 0 2px;
        background-color:rgb(238, 90, 90) ;
       
    }
    .bot{
        margin: 10px;
    }
    .f{
        width: 30%;
        margin: 0 0 0 2px; 
        font-size: 15px;
    }
    
    
    .footer1{
        width: 60%;
        font-size: 15px;
        margin: 0 10px 0 0px;
    }
    tr td{
        padding: 0;
        margin: 0;
    }
    
}

@media screen and (max-width:400px){
    
    header{
        width: 100%;
        height: 100%;
    }
    h1{
        padding: 80px 5px 20px 20px;
        font-size: 100px;
    }
    
    .bloque{
        display: flex;
        flex-direction: column;
        align-items:center;
        
    }

    .textos1{
        display: flex;
        flex-direction: column;
        width: 70%;
        padding: 0 0 0 50px;
    }
    .texto2{
        width: 70%;
        padding: 0 80px 0 0;
    }
    img{
        width: 180px;
        padding: 0;
    }
    .img1{
        margin-right: 0;
        padding: 0 208px 0 0;
        
    }

    .imagen2{
        padding: 0 0 0 100px;
        
    }

    p{
        font-size: 15px;
        margin: 5px 0 0 0;
        width: 100%;
    }
    h2{
        font-size: 25px;
        margin: 7px 0 10px 0;
        
    }

    .boton{
        display: flex;
       justify-content: center;
       margin: 15px 0 0 66px;
        width: 60%;
        height: 50px;
    }

    .guitarra{
        padding: 55px 24px 34px 38px;

    }
    .bot{
        font-size: 17px;
    }
    .tabla{
        right: 300px;
        width: 96%;
        padding: 0 16px 35px 0;
        font-size: 10px;

        
    }
    footer{
        width: 70%;
        margin: 0 0 0 2px;
        background-color:rgb(238, 90, 90) ;
       
    }
    .bot{
        margin: 10px;
    }
    .f{
        width: 15%;
        margin: 0 0 0 2px; 
        font-size: 8px;
    }
    
    
    .footer1{
        width: 80%;
        font-size: 8px;
        margin: 0 10px 0 0px;
    }
    tr td{
        padding: 6px;
    }
    hr{
        padding: 0;
    }

    

}



